.logo {
  max-width: 300px;
  width: 100%;
}

.request_button {
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
}

.request_button p {
  margin: 0;
}

.get_box {
  background-color: #448EE4;
}

.call_box {
  background-color: #97C16D;
}

.param_box {
  background-color: #683E92;
}

.response-box {
  background-color: green;
  border-left: 1px solid purple;
}