div.noPadding {
    padding-left: 0;
    padding-right: 0;
}

div.noMargin {
    margin-left: 0;
    margin-right: 0;
}

.sidebar-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

.sidebar-menu-second {
    text-decoration: none;
    color: inherit;
}

.sidebar-menu-list {
    list-style-type: none;
    white-space: nowrap;
    padding-top: 5px;
    padding-left: 5px;
    border-left: solid red 0.5px;
}